# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.spec

# Node
node_modules/
dist/
build/
.DS_Store
coverage/
.npm/
.yarn/

# IDE
.vscode/
.idea/

_data-face/

model.yml

**/*.pyd
**/model.yml
**/_data-face/
